src/main/resources/xsdschema/customerxsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="customers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="person" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="firstName" type="xs:string"/>
                                        <xs:element name="lastName" type="xs:string"/>
                                        <xs:element name="dob" type="xs:date"/>
                                        <xs:element name="phoneNumber" type="xs:string"/>
                                        <xs:element name="email" type="xs:string"/>
                                        <xs:element name="address">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="line1" type="xs:string"/>
                                                    <xs:element name="line2" type="xs:string"/>
                                                    <xs:element name="zipcode" type="xs:string"/>
                                                    <xs:element name="city">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="cityName" type="xs:string"/>
                                                                <xs:element name="country">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="countryName" type="xs:string"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="id" type="xs:int"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="id" type="xs:int"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:int"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int"/>
                                </xs:complexType>

                            </xs:element>
                            <xs:element name="accounts">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="account" maxOccurs="10" minOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="accountNumber" type="xs:string"/>
                                                    <xs:element name="balance" type="xs:decimal"/>
                                                    <xs:element name="minbalance" type="xs:decimal"/>
                                                    <xs:element name="accountType">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="typeName" type="xs:string"/>
                                                            </xs:sequence>
                                                            <xs:attribute name="id" type="xs:int"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:int"/>
                                            </xs:complexType>
                                        </xs:element >
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:int"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>